<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.event_description }}">
    <meta name="og:title" property="og:title" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.event_description }}" />
    <meta property="og:image" content="{{ site.hero_large_url }}" />
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="{{ site.keywords }}">
    <link rel="stylesheet" href="{{ "/custom.css" | relative_url }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body class="c4l-fonts">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container-fluid" id="top-bar">
      <h1 class="mb-0">
        <img class="py-3" src="https://2020.code4lib.org/assets/img/theme-images/c4l-logo.svg" alt="Code4Lib">
        <span style="font-size:75%">&#128293; </span>
        chicago
      </h1>
    </div>
    </div>
    <div class="jumbotron mb-0">
        <div id="conferenceInfo">
          <h2 class="text-right">
            <span class="sr-only">chicago code for lib fall 2019 meeting hosted by</span>
            Northwestern University Libraries<br>
            <small>{{ site.event_date }}</small>
          </h2>
        </div>
    </div>
    <div id="imageAttribution" class="text-right">
      <a href="{{ site.hero_img_source_url }}" title="{{ site.hero_img_source_credit }}">image attribution</a>
    </div>
    <main class="container mb-4">
      <section class="mb-3">
        {{ content}}
      </section>

      <section class="mb-3">
        {% for item in site.menu %}
          <a class="btn btn-primary btn-block btn-lg" href="{{ item.link }}" aria-label="Go to {{ item.label}}" role="button">{{ item.label }}</a>
        {% endfor %}
      </section>
      <section class="mb-3 border">
          <div class="text-center m-0">
            <span class="sr-only">Google map to Northwestern University Libraries</span>
            <!-- Google Maps Embed a Map iframe element goes here. Copy the HTML from Google Maps embed widget and replace the <iframe> element below. For responsiveness, I recommend setting the width value to '100%'' and the height value to '400' -->
            <iframe class="border" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2962.5395486419225!2d-87.67698718412629!3d42.053053079208674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd075c42d24d5%3A0xc9322cc70d6d9ccf!2sUniversity%20Library!5e0!3m2!1sen!2sus!4v1570120776805!5m2!1sen!2sus" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          </div>
      </section>
    </main>
    <footer class="footer" role="contentinfo">
      <div class="container">
        <img src="https://2020.code4lib.org/assets/img/theme-images/c4l-logo.svg" alt="Code4Lib" class="mb-4">
        <p><a rel="license" href="//creativecommons.org/licenses/by/4.0/" title="Creative Commons Attribution 4.0 International license">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/CC-BY_icon.svg/88px-CC-BY_icon.svg.png" alt="License"></a></p>
          <div style="display: inline;" xmlns:cc="/ns#" about="http://creativecommons.org">
            <p>
              <small>
                Except where otherwise noted, content on this site is licensed under a
                <a rel="license" href="https://creativecommons.org/licenses/by/4.0/" class="subfoot">
                Creative Commons Attribution 4.0 International license</a>.
              </small>
            </p>
            <a href="https://twitter.com/hashtag/chicode4lib?src=hash" title="chicode4lib Twitter Hashtag">#chicode4lib</a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
